<H1>Mi primer proyecto</H1>
<h2>{{welcome}}</h2>
<ul>
  <li *ngFor="let hero of heroes()">{{hero}}</li>
</ul>
<h2>{{("hola".repeat(10))}} {{3+3}}</h2>

<h2>{{welcome==title?"true":"false"}}</h2>

<h2>{{usuario().Nombre}}</h2>
<h2>{{usuario().Apellido}}</h2>


<!--
<h2>{{calculo()}}</h2>
-->

<hr>

<h2>{{title}}</h2>

<input type="text"  [value]="title" name="" id="">

<hr>

<!--
<img [src]="imgSrc" [alt]="usuario.Nombre">
-->

<hr>

<button (click)="calculo()">Click me</button>
<br>
<button (dblclick)="calculo()">Double Click me</button>
<br>
<input type="text"  (change)="changeHandler($event)">
<p>(keyup)</p>
<input type="text"  (keyup)="keyupHandler($event)">
<p>(Keydown shift t)</p>
<input type="text"  (keydown.shift.t)="changeHandler($event)">

<hr>
<h2>Signal</h2>
<br>
<p>signal: {{signalvar()}} </p>
<br>
<input type="text"  [value]="signalvar()" (keyup)="changeSignal($event)">
<br>
<p>Heroes totlaes: {{heroes().length}}</p>
<ul>
  <li *ngFor="let hero of heroes(); index as i">{{i}} | {{hero}}</li>
</ul>

<P *ngIf="signalvar() === 'holi'; else noMeVesBlock">
    Me ves
</P>

<ng-template #noMeVesBlock>
  no me ves
</ng-template>

<P *ngIf="usuario().Nombre === 'Juan Camilo' && usuario().Apellido === 'Salazar Serna'">
  mi nombre empieza por J y termina con s
</P>

(ngSwitch)
<div [ngSwitch]="signalvar()">
  <P *ngSwitchCase="'Juan'"> Hola soy Juan</P>
  <P *ngSwitchCase="'holi'"> Hola soy holi</P>
  <P *ngSwitchDefault >No soy nadie</P>
</div>

<hr>

<input type="color" [formControl] = "colorCtrl">
<p>color: {{colorCtrl.value}}</p>




